# Payment API
NEXT_PUBLIC_API_URL=https://localhost:7109
NEXT_PUBLIC_AUTH_API_URL=http://localhost:8080
NEXT_PUBLIC_APP_NAME=MiniSource Payment Admin
NEXT_PUBLIC_APP_DESCRIPTION=Payment Service Operations Console

# Dev mock auth (set to true to skip real auth during development)
# NEXT_PUBLIC_DEV_MOCK_AUTH=true
